.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: inline-block;
  background-color: #000;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 5px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.playerName {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .card {
    width: 70px;
    height: 112px;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 84px;
    height: 134.4px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 98px;
    height: 156.8px;
  }
}

.custom-btn {
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background-color: #ffffff;
  color: #00bcd4;
}